<a{{attributes.addClass('read-more').setAttribute('href',url).addClass(extra_classes|default([]))}}>
  {% block text %}
    {{ text }}
  {% endblock %}
  <span class="visually-hidden">
    -
    {% block a11y %}
      {{ a11y }}
    {% endblock %}
  </span>
  <svg xmlns="http://www.w3.org/2000/svg" class="read-more__icon" fill="#000000" viewbox="0 0 256 256">
    <path d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z"></path>
  </svg>
</a>
