<a{{attributes.addClass('read-more').setAttribute('href',url).addClass(extra_classes|default([]))}}>
  {% block text %}
    {{ text }}
  {% endblock %}
  <span class="visually-hidden">
    -
    {% block a11y %}
      {{ a11y }}
    {% endblock %}
  </span>
  {{ icon }}
</a>
