{% set classes = [
  'read-more',
  extra_classes ? extra_classes : null,
] %}

<a{{attributes.addClass(classes).setAttribute('href',url)}}>
  {% block text %}
    {{ text }}
  {% endblock %}
  <span class="visually-hidden">
    -
    {% block a11y %}
      {{ a11y }}
    {% endblock %}
  </span>
  {{ icon }}
</a>
