<a{{attributes.addClass('read-more').setAttribute('href',url).addClass(extra_classes|default([])) }}>
  {% block text %}
    {{ text }}
  {% endblock %}
  <span class="visually-hidden">
    -
    {% block a11y %}
      {{ a11y }}
    {% endblock %}
  </span>
  <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 256 256" class="read-more__icon">
    <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
  </svg>
</a>
