/**
 * @file
 * This file is used to style the more link.
 */

.read-more {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  color: inherit;
  fill: currentColor;
  font-weight: 700;
}
.read-more:focus,
.read-more:hover {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}
.read-more__icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: inherit;
}
