.branding__site-logo {
  grid-row: span 2;
  line-height: 1;
  overflow: hidden;
  border-radius: 0.5rem;
}

.branding__site-name {
  display: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  align-self: end;
}

@media screen and (min-width: 64rem) {
  .branding__site-name {
    display: block;
  }
}

.branding__site-name a {
  color: black;
  text-decoration: none;
}

.branding__site-slogan {
  display: none;
  text-transform: lowercase;
  font-size: 0.75rem;
  align-self: start;
}

@media screen and (min-width: 64rem) {
  .branding__site-slogan {
    display: block;
  }
}

.branding__wrapper {
  display: grid;
  grid-template-columns: 3rem 0;
  gap: 0.25rem 1rem;
  align-items: start;
}

@media screen and (min-width: 64rem) {
  .branding__wrapper {
    grid-template-columns: 4rem 1fr;
  }
}
