@import url('https://cdn.jsdelivr.net/npm/swiper@11.1.9/swiper.min.css');

.o-slider {
  max-width: 100%;
  position: relative;
  display: grid;
}

.o-slider__swiper {
  max-width: 100%;
  width: 100%;
}

[class*='o-slider__nav'] {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: white;
  background-color: black;

  &[disabled] {
    display: none;
  }

  svg {
    width: 1rem;
    height: 1rem;
    fill: white;
  }

  &:after {
    display: none;
  }
}

.o-slider__wrapper {
  margin-bottom: 1rem;
}

:where(.o-slider--type--basic) .o-slider__slide {
  padding: 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid lightgray;
  background-color: #fff;
  border-radius: 0.5rem;
}
