{%
  set classes = [
    'o-slider',
    'o-slider--type--' ~ (sliderType|default('basic')),
  ]
%}

<div
  {{ attributes.addClass(classes).setAttribute('data-slider', true).setAttribute('data-items-per-view', itemsPerView|default(2)) }}
>
  <div class="swiper o-slider__swiper">
    <div class="swiper-wrapper o-slider__wrapper">
      {% for slide in slides %}
        <div class="swiper-slide o-slider__slide">{{ slide }}</div>
      {% endfor %}
    </div>
  </div>
  <button type="button" class="swiper-button-prev o-slider__nav--prev">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path></svg>
  </button>
  <button type="button" class="swiper-button-next o-slider__nav--next">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg>
  </button>
</div>
