<div{{ attributes.addClass('umami-badge') }}>
  <div class="umami-badge__container">
      {{ componentMetadata.path }}
    {% if icon %}
      <div class="umami-badge__icon">
          {{ source(componentMetadata.path ~ '/icons/' ~ icon|default('knife') ~ '.svg') }}
      </div>
    {% endif %}
      parent-ds/badge
    {% block text %}{{ text }}{% endblock %}
  </div>
</div>
