<div{{ attributes.addClass('umami-badge') }}>
  <div class="umami-badge__container">
    {% if icon %}
      <div class="umami-badge__icon">
        {{ source(componentMetadata.path ~ '/icons/' ~ icon|default('knife') ~ '.svg') }}
      </div>
    {% endif %}
    {% block text %}{{ text }}{% endblock %}
  </div>
</div>
