<div{{ attributes.addClass('umami-badge') }}>
    Badge
  <div class="umami-badge__container">
    {% if icon %}
      <div class="umami-badge__icon">

      </div>
    {% endif %}
    {% block text %}{{ text }}{% endblock %}
  </div>
</div>
